
.tb{
    border-radius: 10px;
}
.tb-title{
    padding: 6px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.purple {
    border: 2px solid #9920B1;
}
.purple > .tb-title {
    background-color: #9920B1;
    color: white;
}
.blue {
    border: 2px solid #4D78BC;
    height: 264px;
}

.blue > .tb-title {
    background-color: #4D78BC;
    color: white;
}
.red {
    border: 2px solid #E23C49;
    height: 264px;
}
.red > .tb-title{
    background-color: #E23C49;
    color: white;
}
.violet {
    border: 2px solid #BE5BE9;
}
.violet > .tb-title{
    background-color: #BE5BE9;
    color: white;
}
.green  {
    border: 2px solid #31C183;
    height: 215px;
}
.green > .tb-title{
    background-color: #31C183;
    color: white;
}
.edit{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 4px 15px;
    border: 1px solid white;
    border-radius: 4px;
}
input{
    display: inline-block;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px ;
}
.aqua{
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    background-color: #3FC6D2;
    color: white;
}
.file {
    display: inline-block;
    font-size: 20px;
}
.nav-item {
    position: relative;
}
.dropdown_table {
    position: absolute;
    top: 130%;
    left: -120px;
    width: 1100px;
}
